
<script src="/public/chat.js"></script>
     <input type="text" id="usuario"/><br><br>
    <textarea name="" id="mensaje" cols="30" rows="10"></textarea>

    <hr><br>
    
    <button id="enviarMensaje">enviar mensaje</button>
    <div id="mensajes"></div>